<!doctype html>
<html lang="en">
  <head>
      <head>
        <style type=text/css>
            body {
              background-image: url(static/image/header.jpg);
            }
        </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Content</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/upload.css" rel="stylesheet">
    <link href="/static/spinkit.css" rel="stylesheet">
  </head>

  <body>
      <header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/introduction">Introduction<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/document">Document</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/download">Download</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>
    
    <main role="main" class="container">
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
        <div class="container">
          <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    </br>
                    <div class="container text-center">
                    <img class="rounded-circle" src="static/img/qingxingli.jpg" alt="Card image cap" width="140" height="140">
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title">Qingxing Li</h5>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">ECE Master</li>
                      <li class="list-group-item">C++ Python</li>
                      <li class="list-group-item">Machine Learning</li>
                    </ul>
                    <div class="card-body text-center">
                      <a href="#" class="card-link">Github</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    </br>
                    <div class="container text-center">
                    <img class="rounded-circle" src="static/img/haosichun.jpg" alt="Card image cap" width="140" height="140">
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title">Sichun Hao</h5>
                    </div>
                    <ul class="list-group list-group-flush text-center text-center">
                      <li class="list-group-item">ECE Master</li>
                      <li class="list-group-item">C++ Python</li>
                      <li class="list-group-item">Data Science</li>
                    </ul>
                    <div class="card-body text-center">
                      <a href="#" class="card-link">Github</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card text-center" style="width: 18rem;">
                    </br>
                    <div class="container text-center">
                    <img class="rounded-circle" src="static/img/miaoyuhang.jpg" alt="Card image cap" width="140" height="140">
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title">Yuhang Miao</h5>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">ECE Master</li>
                      <li class="list-group-item">Java Python</li>
                      <li class="list-group-item">Web Development</li>
                    </ul>
                    <div class="card-body text-center">
                      <a href="#" class="card-link">Github</a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        </br>
        </br>
        </br>
        <div class="foot text-center">
          <a href="https://github.com/Junoth/AirbusShipDetection">Junoth</a>
        </div>
      </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  </body>
</html>
